<div class='upload-container pull-left'>
  <div class='upload-form'>
    <%= simple_form_for [@travel.rental, @travel], html: { multipart: true } do |f| %>
      <div id='file-upload' class='file-upload form-inline'>
        <%= f.hidden_field :rental_id %>
        <%= f.input :file,
                    as: :file,
                    label: false,
                    class: 'file-name form-control',
                    placeholder: 'Choose a file ...',
                    accept: '.csv'
        %>
      </div>
      <div class='pull-right'>
        <span class='btn'>Clear</span>&nbsp;
          <%= f.button :submit,
                       'Upload File',
                       class: 'btn btn-mini btn-success',
                       id: 'file_upload'
          %>
      </div>
    <% end %>
  </div>
</div>
