<div class="row form-inline">
  <div class='col-l-6 col-md-6 col-xs-6'>
    <h1>Edit Travel</h1>
  </div>
  <div class='col-l-6 col-md-6 col-xs-6 action-buttons'>
    <%= link_to 'Back to Travels', rental_travels_path(@travel.rental),
                class: 'btn btn-default pull-right' %>
  </div>
</div>

<div class='col-xs-12'>
  <%= render :partial => 'upload',
             locals: {
                 url: rental_travel_path(@travel.rental, @travel),
                 method: :put
             }
  %>
  <%= render :partial => 'positions', locals: { travel: @travel} %>
</div>